@use "global" as *;
.card__inner {
  display: block;
  width: 100%;
  background-color: #00f;
  position: relative;
  text-align: right;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.card__inner::before {
  content: "";
  display: block;
  width: 100%;
  aspect-ratio: 4/3;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
